<!DOCTYPE html>
<html>
<head>
	<title>Vestidos</title>
	<!-- Custom Theme files -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!--Estilos propios-->
  	<link rel="stylesheet" type="text/css" href="css/estilos.css">    

	<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="bower_resources/slider-revolution/src/css/settings.css" media="screen" />

  	<!-- GOOGLE FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

	<!-- Angular Loading Bar -->
	<link href="bower_resources/angular-loading-bar/build/loading-bar.css" rel="stylesheet" type="text/css" media="all" />

	<!--Import icons document-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!--Import materialize.css-->
	<link href="bower_resources/materialize/dist/css/materialize.min.css" rel="stylesheet" type="text/css" media="all"/>

	<!--Import fontawesome-->
	<link href="bower_resources/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>

	<!-- Bootstrap SweeAlert -->
  	<link rel="stylesheet" type="text/css" href="bower_resources/bootstrap-sweetalert/lib/sweet-alert.css">

  	<!--Photobox css -->
	<link rel="stylesheet" href="bower_resources/photobox/photobox/photobox.css">

</head>
<style>
	.esconder{
		visibility: hidden;
	}
	.mostrar {
		visibility: visible !important;
	}
</style>
<body ng-app="appVestidos" id="">
	<!-- HEADER -->
	<header>
		<div class="navbar-fixed">
			<nav class="blue-grey darken-4">
				<div class="container">
					<div class="nav-wrapper">					
						<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
						<ul ng-if="!$state.includes( '**.admin.**' )" class="left hide-on-med-and-down">
							<li><a ui-sref="inicio">Baracci</a></li>
							<li><a href="">Conocenos</a></li>
							<li><a href="">Servicios</a></li>
							<!-- Dropdown Trigger -->						
						</ul>
						<a  ng-class="{ letf: $state.includes( '**.admin.**' )}" href="#!" class="brand-logo center">
							<img src="images/Logotipo.jpg" alt="" class="responsive-img circle baraci-logo">
						</a>
						<ul  ng-if="!$state.includes( '**.admin.**' )" class="right hide-on-med-and-down">
							<li><a ui-sref="contacto">Contacto</a></li>
							<li><a ui-sref="galeria">Galeria</a></li>
							<li><a ui-sref="login">Login</a></li>
							<!-- Dropdown Trigger -->
						</ul>
						<ul ng-if="$state.includes( '**.admin.**' )" 
							class=" esconder center hide-on-med-and-down"
							ng-class="{ mostrar: $state.includes( '**.admin.**' ) }">
							<li><a ui-sref="admin.galeria_cms">Galeria</a></li>
							<li><a ui-sref="admin.bloog_cms">Bloog</a></li>
							<li><a ui-sref="admin.banner_cms">Banner</a></li>
							<!-- Dropdown Trigger -->
						</ul>
						<ul class="side-nav" id="mobile-demo">
							<li><a ui-sref="inicio">Baracci</a></li>
							<li><a href="">Conocenos</a></li>
							<li><a href="">Servicios</a></li>
							<li><a ui-sref="contacto">Contacto</a></li>
							<li><a ui-sref="galeria">Galeria</a></li>
							<li><a ui-sref="login">Login</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<main ui-view class="container">
	</main>

	</script>
	<a href="#to-top" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>

	<!-- get jQuery from the google apis -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<!--Jquery-->
	<script src="bower_resources/jquery/dist/jquery.min.js" type="text/javascript"></script>

	 <!-- Bootstarp SweetAlert -->
  	<script src="bower_resources/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>

	<!-- AngularJS -->
	<script src="bower_resources/angular/angular.js" type="text/javascript"></script>

	<script src="bower_resources/angular-easyfb/angular-easyfb.js" type="text/javascript"></script>

	<!-- Angular Sanitize -->
	<script src="bower_resources/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>

	<!-- Angular UI-Router -->
	<script src="bower_resources/angular-ui-router/release/angular-ui-router.js" type="text/javascript"></script>

	<!-- Angular ngModelOptions -->
	<script src="bower_resources/ngmodeloptions/ngModelOptions.js" type="text/javascript"></script>

	<!-- ngAnimate -->
	<script src="bower_resources/angular-animate/angular-animate.js"></script>

	<!-- ngAnimate -->
	<script src="bower_resources/angular-resource/angular-resource.js"></script>

	<!-- Angular Loading Bar -->
	<script src="bower_resources/angular-loading-bar/build/loading-bar.js"></script>

	<script src="bower_resources/FlexSlider/jquery.flexslider.js"></script>

	<!--Trianglify -->
	<script src="bower_resources/trianglify/dist/trianglify.min.js"></script>

	<!-- App -->
	<script src="js/appVestidos.js" type="text/javascript"></script>

	<!-- Controllers -->
	<script src="js/controllers/galeria.controller.js" type="text/javascript"></script>

	<!-- Services -->
	<script src="js/services/galeria.service.js" type="text/javascript"></script>

	<!--Import jQuery before materialize.js-->
	<script src="bower_resources/materialize/dist/js/materialize.min.js"></script>

	<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="bower_resources/slider-revolution/src/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="bower_resources/slider-revolution/src/js/jquery.themepunch.revolution.min.js"></script>

	<!-- PhotoBox js-->
	<script src='bower_resources/photobox/photobox/jquery.photobox.js'></script>

	<script type="text/javascript">
		jQuery(document).ready(function() {

		   	$(".dropdown-button").dropdown();
		   	$(".button-collapse").sideNav();
		   	$('ul.tabs').tabs();
		   	$('.collapsible').collapsible({
		      	accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
		    });
		});
	</script>

</body>
</html>