<style type="text/css" media="screen">
    .waves-effect {
        color: #fff !important;
    }
</style>

<section>
    <blockquote>
        <h4>Administra tu galeria!</h4>
    </blockquote>
    <div class="col s12">
        <a class="waves-effect orange darken-2 btn btn-large" ui-sref="admin.galeria_cms.categorias">
            <i class="material-icons  left">assignment
        </i>Categorias</a>
        <a class="waves-effect orange darken-2 btn btn-large" ui-sref="admin.galeria_cms.productos">
            <i class="material-icons left">shopping_cart
        </i>Productos</a>
    </div>
    <br>
    <hr>
    <div class="col s12" ui-view>
    </div>
</section>
