<article>
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul>    <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >7
                    <img src="images/banner/N3.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                    <img src="images/banner/N1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                </li>
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                    <img src="images/banner/N2.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                </li>
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                    <img src="images/banner/NF.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                </li>
                <!-- SLIDE  -->
                <li data-transition="zoomin" data-slotamount="7" data-masterspeed="600" >
                    <!-- MAIN IMAGE -->
                    <img src="images/videobg1.jpg"  alt="videobg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption medium_bg_darkblue sfr customout"
                        data-x="129"
                        data-y="88"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1600"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-captionhidden="on"
                        style="z-index: 2">Extensive Video Support
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption medium_bg_red sfr customout"
                        data-x="293"
                        data-y="130"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1700"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-captionhidden="on"
                        style="z-index: 3">Youtube
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption medium_bg_red sfr customout"
                        data-x="314"
                        data-y="173"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1800"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-captionhidden="on"
                        style="z-index: 4">Vimeo
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption medium_bg_red sfr customout"
                        data-x="184"
                        data-y="216"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1900"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-captionhidden="on"
                        style="z-index: 5">Self-Hosted HTML 5
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption medium_bg_orange sfr customout"
                        data-x="90"
                        data-y="357"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="2200"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-captionhidden="on"
                        style="z-index: 6">Next Slide: Full Screen Video
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption sft customout"
                        data-x="399"
                        data-y="385"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="1000"
                        data-start="1500"
                        data-easing="Back.easeOut"
                        data-endspeed="500"
                        data-captionhidden="on"
                        style="z-index: 7"><img src="images/videoshadow.png" alt="">
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption customin customout"
                        data-x="center" data-hoffset="134"
                        data-y="center" data-voffset="-6"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="600"
                        data-start="1000"
                        data-easing="Power4.easeOut"
                        data-endspeed="500"
                        data-endeasing="Power4.easeOut"
                        data-autoplay="false"
                        data-autoplayonlyfirsttime="false"
                        style="z-index: 8"><iframe src='http://player.vimeo.com/video/76512663?title=0&byline=0&portrait=0;api=1' width='640' height='360' style='width:640px;height:360px;'></iframe>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
                    <!-- MAIN IMAGE -->
                    <img src="images/transparent.png"  alt=""  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption customin fullscreenvideo"
                        data-x="0"
                        data-y="0"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="700"
                        data-start="500"
                        data-easing="Power4.easeInOut"
                        data-endspeed="700"
                        data-autoplay="false"
                        data-autoplayonlyfirsttime="false"
                        style="z-index: 2"><iframe src='http://player.vimeo.com/video/76995667?title=0&byline=0&portrait=0;api=1' width='100%' height='100%' style='width:100%px;height:100%px;'></iframe>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-delay="5000" >
                    <!-- MAIN IMAGE -->
                    <img src="images/slidebg1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">




                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption big_dark customin customout"
                        data-x="center"
                        data-y="200"
                        data-captionhidden="on"


                        data-splitin="words"
                        data-elementdelay="0.25"
                        data-start="200"
                        data-speed="600"
                        data-easing="Back.easeOut"
                        data-customin="x:0;y:-20;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"



                        data-frames="{ typ :lines;
                                     elementdelay :0.1;
                                     start:1650;
                                     speed:500;
                                     ease:Power3.easeOut;
                                     animation:x:0;y:-40;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                     },
                                     { typ :lines;
                                     elementdelay :0.1;
                                     start:2150;
                                     speed:500;
                                     ease:Power3.easeOut;
                                     animation:x:0;y:-20;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                     },
                                     {
                                     elementdelay :0.1;
                                     start:3200;
                                     speed:500;
                                     ease:Power3.easeOut;
                                     animation:x:-240;y:13;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.12;scaleY:0.12;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                     },

                                     {typ:chars;
                                     elementdelay :0.1;
                                     start:4000;
                                     speed:1500;
                                     ease:Power3.easeInOut;
                                     animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:720;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                     }
                                     "

                        data-splitout="words"
                        data-endelementdelay="0.1"
                        data-customout="x:0;y:0;z:0;rotationX:40;rotationY:70;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"

                        style="z-index: 4">BARACCI
                    </div>



                    <div class="tp-caption medium_dark customin customout"
                        data-x="center"
                        data-y="260"

                        data-splitin="chars"
                        data-elementdelay="0.05"
                        data-start="600"
                        data-speed="600"
                        data-easing="Back.easeOut"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

                        data-frames="{ typ :lines;
                                     elementdelay :0.1;
                                     start:1650;
                                     speed:500;
                                     ease:Power3.easeOut;
                                     animation:x:0;y:-40;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                     },
                                     { typ :lines;
                                     elementdelay :0.1;
                                     start:2150;
                                     speed:500;
                                     ease:Power3.easeOut;
                                     animation:x:0;y:-20;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                     }
                                     "


                        data-splitout="lines"
                        data-endelementdelay="0.1"
                        data-customout="x:-230;y:-20;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                        data-endspeed="500"
                        data-end="3200"
                        data-endeasing="Back.easeIn"
                        data-captionhidden="on"
                        style="z-index: 4">NOVIAS & XV AÑOS
                    </div>

                    <div class="tp-caption medium_dark customin customout"
                        data-x="center"
                        data-y="250"

                        data-splitin=""
                        data-elementdelay=""
                        data-start="1600"
                        data-speed="600"
                        data-easing="Power3.easeOut"
                        data-customin="x:0;y:30;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

                        data-frames="{ typ :lines;
                                     elementdelay :0.1;
                                     start:2150;
                                     speed:500;
                                     ease:Power3.easeOut;
                                     animation:x:0;y:-20;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                     }"

                        data-splitout="lines"
                        data-endelementdelay="0.1"
                        data-customout="x:-230;y:-20;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                        data-endspeed="500"
                        data-end="3200"
                        data-endeasing="Back.easeIn"
                        data-captionhidden="on"
                        style="font-size:60px;line-height:60px;font-weight:300;letter-spacing:0px;">MOMENTOS ESPECIALES
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    
<video src=""><iframe src="http://tumi.tv/embed-lteiw0tbkng1.html" frameborder=0 marginwidth=0 marginheight=0 scrolling="no" allowfullscreen="true" width=900 height=499></iframe></video>


